.testWrap{
	width:100%;
	max-width:820px;
	position:relative;
	float:center;
	overflow:show;
	margin:0px auto;
	background:rgba(255,255,255,0.8);
	padding:25px 0;
}	
	.progressWrap{
		position:absolute;
		left:0;
		top:0;
		background:#ddd;
		width:100%;
		height:24px;
		
	}
	.progressBar{
		position:relative;
		float:left;
		background:#fefefe;
		margin-bottom: 25px;
		width:50%;
		font-size:12px;
		font-family:arial;
		line-height:22px;
		height:23px;
		text-align:center;
		color:#fff;
		box-shadow: -1px 1px 1px rgba(0,0,0,.5); 
		/*border-left:1px solid orange;*/
		background:rgba(0,10,0,0.90);
	background: -moz-linear-gradient(top, rgba(0,10,0,0.90) 0%, rgba(50,50,57,0.90) 40%, rgba(9,0,7,1) 100%);

	background: -webkit-linear-gradient(top, rgba(0,10,0,0.90) 0%, rgba(50,50,57,0.90) 40%, rgba(9,0,7,1) 100%);
	background: -o-linear-gradient(top, rgba(0,10,0,0.90) 0%, rgba(50,50,57,0.90) 40%, rgba(9,0,7,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,10,0,0.90) 0%, rgba(50,50,57,0.90) 40%, rgba(9,0,7,1) 100%);
	background: linear-gradient(top, rgba(0,10,0,0.90) 0%, rgba(50,50,57,0.90) 40%, rgba(9,0,7,1) 100%);
	background-repeat:no-repeat;
	}
	/*.spacer60bottom{
		width:100%;
		position:relative;
		float:center;
		margin-bottom:7px;
	}*/
	.QAWrap{
		width:104%;
		position:relative;
		float:center;
		margin:15px auto;
		margin-left:-2%;
		overflow:auto;
		/*border-radius:6px;*/
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
		background:rgba(255,255,255,1);
		padding:15px 9px;
		padding-top:25px;
	}
		
		/*.Qcenter{
		width:auto;
		position:relative;
		float:none;
		margin:0 auto;
		background:Red;
		}*/
		
		.Question{
				position: relative;
							width:100%;
							float:left;
							color:rgba(0,0,0,1);
							font-weight: 400;
							font-family: 'Arial','Arial Unicode MS';
							font-size:20px;
							line-height:20px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							word-wrap:break-word;
							text-shadow: -1px 1px 1px #fff;
							/*text-indent:9px;
							width:calc(100% - 86px);*/
							-webkit-font-smoothing: antialiased;
			padding-left:9px;		
		}
		
		.AllAnsWrap{
			width:100%;
			position:relative;
			float:left;
			margin:15px auto;
			padding-left:20px;
		}
			.AnsWrap{
				width:100%;
				position:relative;
				float:left;
				margin:5px auto;
				padding-left:50px;
			}
				.AnsChk{
					width:24px;
					
					position:relative;
					float:left;
					
				}
				.AnsTxt{
					width:calc(100% - 24px);
					padding-left:10px;
					position:relative;
					float:left;
					font-family: 'Verdana' !important;
					font-weight:bold;
					
				}
	
.saveTestBtn{
			
			position:relative;
			float:center;
			width:100%;
			margin:0 auto;
			background:rgba(0,155,0,0.5);
			font-size:17px;
			padding:10px 0;
			
			text-align:center;
			border:2px solid #c1c1c1;
			border-radius:4px;
			color:#fff;
		}
		.saveTestBtn:hover{background:rgba(55,155,55,.9);};