RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^article/([0-9]+) index.php?section=$1 [L]



RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^article/([0-9]+) viewJob.php?section=$1 [L]





